/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-apr-2016, 18.47.56
    Author     : alessandra
*/

body{
    background-color: #ece5a8;
    font-family: "Droid Sans",Garuda,Sans ;
    font-style:normal;
    font-size:16px;
    color:black;
    
}

a:link {
    color:#7D3C81;
    text-decoration: underline;     
}
  
a:visited, a:active{
     color:#89768A;
     text-decoration: underline; 
}
    
a:hover {color:#E5E1E5;
     font-weight:bold;
    
}
    
 
    
h1, h2, h3 {
    font-family:"Lobster Two",sans-serif;
    color:#e7453c;
       font-weight:bold;
}