/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-apr-2016, 18.47.56
    Author     : alessandra
*/

body{
    background-color: #d3b9b6;
    font-family: "Bedini",serif ;
    font-size:15px;
    font-color:#black;
}